
.footer-title {
    color: #fff;
    font-size: 1.4rem;
    background-color:#263238;
}
.footer-title  a{
    color: #fff;
    font-size: 1.4rem;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.footer-title a:hover {
    background-size: 100% 2px;
    color: #fff;
}